* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

body {
  font-family     : 'Poppins', sans-serif;
  background-color: #F0F2F6;
}

img {
  margin: auto;
}

ul {
  list-style: none;
}

button {
  border : none;
  outline: none;
  cursor : pointer;
}

a {
  color: #189cbe;
  width: fit-content;

}

.wrapper {
  height         : 100vh;
  width          : 100vw;
  display        : flex;
  justify-content: center;
  align-items    : center;
  position       : relative;
}

.wrapper::before,
.wrapper::after {
  content : "";
  position: absolute;
  display : block;
  width   : 50%;
  height  : 50%;
}

.wrapper::before {
  /* background-color: #189cbe; */
  top : 0;
  left: 0;
}

.wrapper::after {
  /* background-color: #77bb1f; */
  right  : 0;
  bottom : 0;
  z-index: -2;
}

.wrapper>img {
  position: absolute;
  left    : 0;
  width   : 100%;
  z-index : -1;
}

.wave-top {
  top: 0;
}

.wave-bottom {
  bottom: 0;
}

.card-form {
  position       : relative;
  display        : flex;
  flex-direction : column;
  padding        : 20px;
  border-radius  : 20px;
  margin         : auto;
  background     : #fff;
  justify-content: center;
  max-width      : 454px;
  width          : 90%;
  border         : 1px solid #ddd;
}

.card-form>h1 {
  color      : #333;
  font-weight: 600;
  text-align : center;
  margin     : 20px 0;
}

.card-form>button {
  margin          : auto;
  margin-right    : 0;
  text-transform  : capitalize;
  height          : 47px;
  border-radius   : 12px;
  width           : 180px;
  font-size       : 18px;
  font-weight     : 500;
  background-color: #189cbe;
  color           : #fff;
}

.card-form img {
  cursor          : pointer;
  background-color: #fff;
  border-radius   : 10px;
  padding         : 10px;
  width           : 170px;
  position        : absolute;
  margin          : auto;
  bottom          : -45px;
  left            : 0;
  right           : 0;
  transition      : box-shadow 400ms ease;
}

.card-form img:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, .2);
}



.card-form br {
  height : 0;
  padding: 0;
  margin : 10px;
}