.sidebar {
  position        : fixed;
  padding-top     : 110px;
  top             : 0;
  left            : 0;
  width           : 345px;
  max-width       : 100%;
  height          : 100%;
  transform       : translateX(-100%);
  transition      : transform 400ms ease;
  background-color: #fff;
  z-index         : 40;
}

.sidebar.open {
  transform: initial;
}

.sidebar ul {
  width   : 100%;
  overflow: hidden;
}

.sidebar>ul>li {
  position      : relative;
  width         : 100%;
  display       : flex;
  flex-direction: column;
  align-items   : center;
  cursor        : pointer;
  font-size     : 18px;
  font-weight   : 600;
  color         : #969BA0;
  overflow      : hidden;
}

.sidebar>ul>li>div {
  padding       : 20px 20px 20px 40px;
  width         : 100%;
  display       : flex;
  flex-direction: row;
  align-items   : center;
  overflow      : hidden;
  z-index       : 5;
}

.sidebar>ul>li.active div {
  background-color: #fff;
  color           : #189cbe;
}

.sidebar>ul>li.active div::before {
  content         : "";
  position        : absolute;
  left            : 0;
  top             : 0;
  background-color: #189cbe;
  border-radius   : 0 10px 10px 0;
  width           : 11px;
  height          : 67px;
}

.sidebar>ul>li>div::after {
  transition   : transform 200ms ease;
  position     : absolute;
  content      : "";
  display      : block;
  margin       : auto;
  right        : 20px;
  width        : 0;
  height       : 0;
  border-top   : 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left  : 8px solid #d3d6e4;
}

.sidebar ul>li.active div::after {
  transform: rotate(90deg);
}

.sidebar ul>li>ul {
  width      : 100%;
  margin-left: 170px;
  margin-top : -10px;
}

.sidebar ul>li>ul>li {
  transition: transform 400ms ease;
  transform : translateY(-100px);
  height    : 0;
  width     : auto;
}

.sidebar ul>li.active ul>li {
  transform: initial;
  height   : initial;
}

.sidebar ul>li.active ul>li {
  transform: initial;
  padding  : 5px 0;
}


.sidebar ul>li>div img {
  width : 24px;
  margin: 0 20px 0 0;
}

.sidebar>img {
  position: absolute;
  bottom  : 70px;
  left    : 34px;
  width   : 105px;
  display : block;
  margin  : auto;
  cursor  : pointer;
}

.sidebar>span {
  position   : absolute;
  bottom     : 20px;
  width      : auto;
  left       : 40px;
  right      : 0;
  font-size  : 14px;
  font-weight: 600;
  color      : #969BA0;
  display    : block;
  margin     : auto;
  cursor     : pointer;
}

@media (min-width: 1280px) {
  .sidebar {
    transform  : initial;
    padding-top: 140px;
    width      : 255px;
  }

  .sidebar>img {
    display: none;
  }
}

@media (min-width: 1920px) {
  .sidebar {
    padding-top: 170px;
    transform  : initial;
    width      : 345px;
  }
}