.home {
  margin: 20px;
}

.row-column {
  margin        : 20px 0;
  display       : flex;
  flex-direction: column;
}


.chat-bubble {
  position: fixed;
  bottom  : 35px;
  right   : 35px;
  width   : 60px;
}

@media(min-width: 768px) {
  .chat-bubble {
    width: 80px;
  }
}

@media(min-width: 1280px) {
  .chat-bubble {
    width: 90px;
  }

  .column {
    margin-right: 20px;
  }

  .row-column {
    flex-direction : row;
    justify-content: space-between;
  }
}

@media(min-width:1400px) {
  .chat-bubble {
    width: 106px;
  }
}

@media(min-width: 1920px) {
  .home {
    margin: 25px 35px;
  }
}