.event-classes {
  padding         : 30px;
  background-color: #fff;
  border-radius   : 20px;
}

@media(min-width: 1280px) {
  .event-classes {
    width: 50vw;
  }
}

@media(min-width: 1920px) {
  .event-classes {
    width: 58vw;
  }
}

.event-classes>.header {
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
}

.event-classes>.header>.title {
  font-size  : 20px;
  font-weight: bold;
}


.event-classes>.header>.paginate {
  display       : flex;
  flex-direction: row;
  align-items   : center;
}

.event-classes .button {
  border-radius   : 50%;
  border          : 1px solid transparent;
  background-color: #189CBE;
  padding         : 6px 7px;
  display         : flex;
  justify-content : center;
  align-items     : center;
}

.event-classes .dot {
  border-radius   : 50%;
  margin          : auto 5px;
  background-color: #dedede;
  width           : 10px;
  height          : 10px;
}

.event-classes .dot.active {
  background-color: #189CBE;
}

.event-classes .arrow-left,
.event-classes .arrow-right {
  display      : block;
  margin       : auto;
  width        : 0;
  height       : 0;
  border-top   : 4px solid transparent;
  border-bottom: 4px solid transparent;
}

.event-classes .arrow-left {
  border-right: 7px solid #fff;
}

.event-classes .arrow-right {
  border-left: 7px solid #fff;
}

.event-classes .button.disabled {
  background-color: #fff;
  border-color    : #189CBE;
}

.button.disabled>.arrow-left {
  border-right-color: #189CBE;
}

.button.disabled>.arrow-right {
  border-left-color: #189CBE;
}

.event-classes>.cards {
  width         : 100vw;
  margin-left   : -50px;
  overflow-x    : scroll;
  margin-top    : 20px;
  display       : flex;
  flex-direction: row;
}

@media(min-width: 1280px) {
  .event-classes>.cards {
    margin-left: 0;
    width      : 100%;
  }
}

.event-classes>.cards>.card {
  margin        : 10px;
  min-width     : 315px;
  overflow      : hidden;
  border        : 1px solid #ececec;
  border-radius : 14px;
  display       : flex;
  flex-direction: column;
}


.event-classes>.cards>.card>.header {
  height          : 190px;
  background-color: #c4c4c4;
}

.event-classes>.cards>.card>.header>img {
  width           : 100%;
  height          : 100%;
  background-color: #c4c4c4;
}


.event-classes>.cards>.card>.content {
  padding         : 20px;
  background-color: #fff;
}

.event-classes>.cards>.card>.content>.title {
  font-size  : 18px;
  font-weight: 500;
}

.event-classes>.cards>.card>.content>.tags {
  font-size    : 14px;
  color        : #189CBE;
  margin-bottom: 10px;
}

.event-classes>.cards>.card>.content>p {
  font-size  : 12px;
  font-weight: 400;
  color      : rgba(0, 0, 0, .4)
}

.event-classes>.cards>.card>.button {
  border-radius   : 20px;
  background-color: #189CBE;
  color           : #fff;
}