.hero-card {
  overflow        : hidden;
  background-color: #fff;
  border-radius   : 20px;
}

.hero-card>img {
  background-size : cover;
  border          : none;
  width           : 100%;
  background-color: #c4c4c4;
  height          : 628px;
}

.hero-card>.header {
  padding        : 30px 40px 15px;
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
  align-items    : center;
}

.hero-card>.header>.headings {
  display       : flex;
  flex-direction: column;
}

.hero-card>.header>.headings>h2 {
  font-size  : 20px;
  font-weight: bold;
}

.hero-card>.header>.headings>h3 {
  font-size    : 18px;
  font-weight  : 400;
  margin-bottom: 20px;
}

.calendar {
  display       : flex;
  flex-direction: column;
  align-items   : center;
}

.calendar>.dates {
  margin-left   : 20px;
  display       : flex;
  flex-direction: column;
  font-size     : 14px;
  font-weight   : 500;
}

@media(min-width: 768px) {
  .calendar {
    flex-direction: row;
  }
}

@media(min-width: 1280px) {
  .hero-card>.header>.headings>h2 {
    font-size: 28px;
  }

  .hero-card>.header>.headings>h3 {
    font-size: 28px;
  }

  .calendar>.dates {
    font-size: 28px;
  }
}


.hero-card>.info {
  padding: 0 40px 30px;
}

.hero-card>.info>p {
  font-size: 18px;
  color    : rgba(0, 0, 0, 0.4);
}