.instagram {
  padding         : 30px;
  background-color: #fff;
  border-radius   : 20px;
  margin          : 20px 0;
  height          : max-content;
}

@media(min-width: 1280px) {
  .instagram {
    width: 50vw;
  }
}

@media(min-width: 1920px) {
  .instagram {
    min-width: 58vw;
  }
}


@media(min-width: 1920px) {
  .instagram {
    padding: 30px 40px;
  }
}

.instagram>.header>.title {
  font-size  : 20px;
  font-weight: bold;
}

.instagram>.header>.subtitle {
  font-weight: 400;
  font-size  : 20px;
}

.instagram>.photos {
  margin         : auto;
  width          : 100%;
  margin-top     : 30px;
  display        : flex;
  flex-direction : row;
  flex-wrap      : wrap;
  justify-content: center;
}

.instagram>.photos>img {
  background-color: #c4c4c4;
  width           : 118px;
  height          : 118px;
  background-size : cover;
  margin          : 10px;
}

@media(min-width: 768px) {
  .instagram>.photos>img {
    width : 140px;
    height: 140px;
  }
}

@media(min-width: 1280px) {
  .instagram>.photos>img {
    width : 170px;
    height: 170px;
  }
}

@media(min-width: 1920px) {
  .instagram>.photos>img {
    width : 238px;
    height: 238px;
  }
}