.mural {
  overflow        : hidden;
  background-color: #fff;
  border-radius   : 14px;
  width           : 100%;
  height          : fit-content;
}

@media(min-width: 1280px) {
  .mural {
    width    : 345px;
    flex-grow: .5;
  }
}


.mural>.header {
  padding        : 30px 20px 15px;
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
  align-items    : center;
}

.item {
  display       : flex;
  flex-direction: column;
  padding       : 10px 0 20px;
  margin-bottom : 10px;
  border-bottom : 1px solid #e9e9e9;
}

.item>.header {
  padding       : 0 20px;
  display       : flex;
  flex-direction: row;
}

.item>.header>figure img {
  min-width       : 63.24px;
  min-height      : 63.24px;
  border-radius   : 22px;
  background-color: #c4c4c4;
}


.item>.header>.header-text {
  padding       : 0 10px;
  display       : flex;
  flex-direction: column;
  position      : relative;
}


.item>.header>.header-text>h5 {
  font-size  : 16px;
  font-weight: 500;
}

.item>.header>.header-text>h6 {
  font-size  : 16px;
  font-weight: 500;
}

.item>.header>.header-text>.timestamp {
  position   : absolute;
  bottom     : 10px;
  right      : -40px;
  font-size  : 14px;
  font-weight: 400;
  color      : rgba(0, 0, 0, 0.6);
}


.item>.content {
  padding    : 0 20px;
  font-size  : 14px;
  font-weight: 400;
  color      : rgba(0, 0, 0, 0.7);
}


.mural>.button {
  box-shadow      : 0 -70px 70px #fff;
  font-size       : 16px;
  font-weight     : bold;
  background-color: #189CBE;
  color           : #fff;
  width           : 100%;
  height          : 77px;
  border-radius   : 14px;
}



@media(min-width: 1280px) {

  .mural>.header {
    padding: 30px 40px 15px;
  }


  .item>.header {
    padding: 0 30px;
  }

  .item>.header>.header-text {
    padding: 0 20px;
  }


  .item>.content {
    padding: 0 30px;
  }

}

@media(min-width: 1920px) {
  .item>.header>.header-text>.timestamp {
    right: -90px;
  }
}